.navbar {
  span {
    margin-right: 25px;
    cursor: pointer;
    padding-bottom: 2px;
  }
  .active {
    border-bottom: 2px solid white;
    padding-bottom: 0px;
  }
}

.content-wrapper {
  padding: 20px;
}
